<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Types</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type: ${types}">
        <td th:text="${type.id}"></td>
        <td th:text="${type.typeName}"></td>
        <td>
            <form th:method="delete" th:action='${"types/delete/" + type.id}'>
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form th:method="get" th:action='${"types/edit/" + type.id}'>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:method="get" th:action='${"types/info/" + type.id}'>
                <input type="submit" value="Info">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<p>
    <span>Count:&nbsp</span>
    <span th:text="${types.size()}"></span>
</p>
<form th:method="get" th:action='${"types/new"}'>
    <input type="submit" value="Add">
</form>

<p>
    <span>Parts:
    </span>
</p>

<table>

    <form th:method="post" th:action='${"/types"}'>
        <input type="text" name="filter" id="filter">
        <input type="submit" value="Find">
    </form>

    <tbody>
    <tr th:each="part: ${parts}">
        <td th:text="${part.id}"></td>
        <td th:text="${part.name}"></td>
        <td th:text="${part.spec}"></td>
    </tr>
    </tbody>
</table>



</body>
</html>
