<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Models page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="heading">
                <img src="/img/logo.png" alt="Detail" class="logo">
                <nav>
                    <ul class="menu">
                        <li>
                             <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/types">Types</a>
                        </li>
                        <li>
                            <a href="/all_parts">Parts</a>
                        </li>
                    </ul>
                </nav>    
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="mainfield">
                <div class="tytle">
                    <span>Models list</span>
                </div>

                <div class="search_bar">
                    <form th:method="post" th:action='${"/types"}'>
                        <input type="text" placeholder="Search..." name="filter" id="filter">
                            <input type="submit" value="Find">
                    </form>
                </div>

                <table>
                <thead>
                <tr>
                    <th>Model ID</th>
                    <th>Model name</th>
                    <th>Vendor code</th>
                    <th>Parts</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="model: ${models}">
                        <td th:text="${model.id}"></td>
                        <td th:text="${model.name}"></td>
                        <td th:text="${model.vendorCode}"></td>
                        <td>#</td>
                        <td>
                            <form th:method="get" th:action='${"/types/info/" + model.id + "/parts"}'>
                                <input type="submit" value="Parts">
                            </form>
                        </td>
                    </tr>  
                </tbody>
                </table>
            </div>

            <div class="bottom_bar">
                <form th:method="get" th:action='${"/types/info/" + id + "/add"}'>
                    <input type="submit" value="Add">
                </form> 

                <form th:method="get" th:action='${"/types"}'>
                    <input type="submit" value="Back">
                </form> 
                
                <div class="total_count">
                    TOTAL COUNT:&nbsp
                    <span th:text="${models.size()}"></span>
                </div>
            </div>
        </div>
    </section>

</body>
</html>