<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Models page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="heading">
                <img src="/img/logo.png" alt="Detail" class="logo">
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Types</a>
                        </li>
                        <li>
                            <a href="#">Parts</a>
                        </li>
                    </ul>
                </nav>    
            </div>
        </div>
    </header>

<section>
    <div class="container">
    <!-- <table>
    <thead>
    <tr>
        <th>Models:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="model: ${models}">
        <td th:text="${model.id}"></td>
        <td th:text="${model.name}"></td>
        <td th:text="${model.vendorCode}"></td>
        <td>
            <form th:method="get" th:action='${"/types/info/" + model.id + "/parts"}'>
                <input type="submit" value="Parts">
            </form>
        </td>
    </tr>
    <td>
        <form th:method="get" th:action='${"/types/info/" + id + "/add"}'>
            <input type="submit" value="Add">
        </form>
    </td>
    </tbody>
</table>
    <p>
        <span>Count:&nbsp</span>
        <span th:text="${models.size()}"></span>
    </p>     -->
    </div>
</section>


</body>
</html>