<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All parts page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="heading">
                <img src="/img/logo.png" alt="Detail" class="logo">
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Types</a>
                        </li>
                        <li>
                            <a href="#">Parts</a>
                        </li>
                    </ul>
                </nav>    
            </div>
        </div>
    </header>


    <section>
        <div class="container">
            <div class="mainfield">
                <div class="tytle">
                        <span>Parts list</span>
                </div>
                <div class="search_bar">
                    <form th:method="post" th:action='${"/all_parts"}'>
                        <input type="text" placeholder="Search..." name="filter" id="filter">
                            <input type="submit" value="Find">
                    </form>
                </div>


                <table>
                    <thead>
                    <tr>
                        <th>Part ID</th>
                        <th>Part name</th>
                        <th>Specification</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="part: ${parts}">
                            <td th:text="${part.id}"></td>
                            <td th:text="${part.name}"></td>
                            <td th:text="${part.spec}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="bottom_bar">
                <form th:method="get" th:action='${"####"}'>
                    <input type="submit" value="Create">
                </form> 

                <div class="total_count">
                    TOTAL COUNT:&nbsp
                    <span th:text="${size}"></span>
                </div>
            </div>
        </div>
    </section>

</body>
</html>